[submodule "src/app/dev"]
	path = src/app/dev
	url = git@github.com:sharemyscreen/dev-service.git
	branch = master
[submodule "src/app/api"]
	path = src/app/api
	url = git@github.com:sharemyscreen/api-service.git
	branch = master
[submodule "src/app/login"]
	path = src/app/login
	url = git@github.com:sharemyscreen/login-service.git
	branch = master
[submodule "src/lib/common"]
	path = src/lib/common
	url = git@github.com:sharemyscreen/common.git
	branch = master
[submodule "src/lib/http-common"]
	path = src/lib/http-common
	url = git@github.com:sharemyscreen/http-common.git
	branch = master
